{#
  Template variables:
  - zip_url: url for the zip file containing data
  - json_url: url for the settings json
  - exr_url: url for the environment map
  - unused_urls: array containing unused URLs, used for printing a warning
  - unique_id: id for the element
#}

<div class="volxel-wrapper">
  <volxel-3d-viewer id="{{ unique_id }}" data-zip-url="{{ zip_url|e('html_attr') }}" data-settings-url="{{ json_url|e('html_attr') }}" data-env-url="{{ exr_url|e('html_attr') }}"></volxel-3d-viewer>
</div>
{% if unused_urls|length > 0 %}
  <p>Warning, there were unused file <abbr>URL</abbr>s:</p>
  <ul>
    {% for url in unused_urls %}
      <li>
        <a href="{{ url }}">{{ url }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
